<html lang="fa">
<head>
    {% block header_refrence %}
    {% endblock header_refrence %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block page_title %}
            title
        {% endblock page_title %}
    </title>
</head>
<body style="margin-top: 2rem;">
    {% block content %}
        content
    {% endblock content %}
    <p>
        this page extend from base html 
    </p>
</body>
</html>