.poet-info {
    font-size: 25;
    text-align: right;
    margin: 2rem auto;
    width: 95%;
    max-width: 85%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    border-radius: 15px;
}
p {
    text-align: center;
    font-size: 32;
}

.book-section {
    background: transparent url(images/bk.png) top center repeat scroll;
}